html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=1200px, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title KATERINA LASHMANOVA
    link(rel="stylesheet", href="/style.scss")
  body
    .layout
      include ../header/header_en.pug
      block content
      include ../footer/footer_en.pug 
    script(src="/script.js")

