.gallery {
  position: relative;
}

.gallery__item {
  display: none;
  width: 100%;
}

.gallery__item_current {
  position: static;
  display: block;
}

@keyframes show {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

.gallery__item_showing {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: show 300ms ease-in;
}