@font-face {
  font-family: 'FuturaDemiC';
  src: url('/src/typo/FuturaDemiC.eot');
  src: local('Futura Demi Cyrillic'), local('FuturaDemiC'), url('/src/typo/FuturaDemiC.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaDemiC.woff') format('woff'), url('/src/typo/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('/src/typo/FuturaMediumC.eot');
  src: local('Futura Medium Cyrillic'), local('FuturaMediumC'), url('/src/typo/FuturaMediumC.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaMediumC.woff') format('woff'), url('/src/typo/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLightC';
  src: url('/src/typo/FuturaLightC-Italic.eot');
  src: local('Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'), url('/src/typo/FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaLightC-Italic.woff') format('woff'), url('/src/typo/FuturaLightC-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('/src/typo/FuturaMediumC-Italic.eot');
  src: local('Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'), url('/src/typo/FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaMediumC-Italic.woff') format('woff'), url('/src/typo/FuturaMediumC-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaLightC';
  src: url('/src/typo/FuturaLightC.eot');
  src: local('Futura Light Cyrillic'), local('FuturaLightC'), url('/src/typo/FuturaLightC.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaLightC.woff') format('woff'), url('/src/typo/FuturaLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('/src/typo/FuturaDemiC-Italic.eot');
  src: local('Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'), url('/src/typo/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaDemiC-Italic.woff') format('woff'), url('/src/typo/FuturaDemiC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('/src/typo/FuturaBookC-Italic.eot');
  src: local('Futura Book Italic Cyrillic'), local('FuturaBookC-Italic'), url('/src/typo/FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaBookC-Italic.woff') format('woff'), url('/src/typo/FuturaBookC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('/src/typo/FuturaBookC.eot');
  src: local('Futura Book Cyrillic'), local('FuturaBookC'), url('/src/typo/FuturaBookC.eot?#iefix') format('embedded-opentype'), url('/src/typo/FuturaBookC.woff') format('woff'), url('/src/typo/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}