.footer.footer_align-items_space-between
  .footer__left
    .footer__logo KATERINA LASHMANOVA
    .footer__menu
      include footer__menu_en.pug
  .footer__right
    .footer__caption 
      block caption
      