block footer
  .footer__menu.list.list_type_vertical
    a( class={list__item_current: currentUrl === '/'} class='list__item list__item_uppercase ' href="/pages/index.pug") Проекты
    a.list__item.list__item_uppercase(class={list__item_current: currentUrl === '/press'} href="/pages/press.pug") Пресса
    a.list__item.list__item_uppercase(class={list__item_current: currentUrl === '/about'} href="/pages/about.pug") О дизайнере
    a.list__item.list__item_uppercase(class={list__item_current: currentUrl === '/contacts'} href="/pages/contacts.pug") Контакты
