extends ../../src/blocks/layout/layout_en.pug

block content
  .contacts
    p 
      b Phone:
      | 8 (985) 921-72-60
    p 
      b E-mail: 
      | lashmanovak@gmail.com
    p https://www.facebook.com/lashmanovadesign

block prepend footer 
  - var currentUrl = '/contacts'