extends ../../src/blocks/layout/layout_en.pug


block content
  #gallery.gallery  
  
block prepend footer 
  - var currentUrl = '/'
  script(type='text/javascript', async='', defer='', data-pin-hover="true", src='//assets.pinterest.com/js/pinit.js')
  script.
    window.language = "en"