.caption__pagination {
  margin-top: 5px;
}

.caption__pagination-item {
  line-height: 1;
  padding: 3px 5px;
  // border: 1px solid black;
}

.caption__buttons-wrapper {
  margin-top: 15px;
  display: flex;
  @media (max-width: 425px) {
    margin-top: 5px;
    width: 20%;
    order: 2;
    justify-content: flex-end;
  }
}

.caption__button {
  display: block;
  height: 8px;
  width: 10px;
  margin-right: 5px;
  padding: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .2;
}

.caption__button_current {
  opacity: 1;
}

.caption__image-name {
  height: 37px;
  @media (max-width: 425px) {
    width: 80%;
    order: 1;
  }
}

.caption__pagination {
  @media (max-width: 425px) {
    display: flex;
    width: 100%;
    order: 3;
    overflow-x: auto;
  }
}